/* Custom stylings */

.delayed-fade-in {
    animation: delayedFadeIn 5s;
}

@keyframes delayedFadeIn {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.divider {
    flex-shrink: 0;
    display: flex;
    width: 100%;
}

.divider::before,
.divider::after {
    width: 100%;
    border-top: thin solid rgba(255, 255, 255, 0.12);
    content: "";
    align-self: center;
}

.divider-wrapper {
    padding-left: calc(8px * 1.2);
    padding-right: calc(8px * 1.2);
    white-space: nowrap;
}

:root {
    --highlight-color: oklch(0.4 0.0896 243.62);
}

.dark {
    --highlight-color: oklch(0.8163 0.0896 243.62);
}

.highlight-color {
    color: var(--highlight-color);
}

.bg-highlight-color {
    background-color: var(--highlight-color);
}