/* This file contains the layout structure
 * for styling, open style.css
 * */

@font-face {
    font-family: 'globalFont'; /* Name to use in CSS */
    src: url('/nunito.ttf') format('truetype'); /* Path to the font file */
	font-weight: 500;
}

html, body, #app {
	
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: globalFont;

}

main {

	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}


.adaptWidth {
	
	width: min(800px, calc(100% - 40px));

}

.fillWidth {
	
	width: 100%;

}

.adaptWidthSmall {
	
	width: min(600px, 100%);

}

.fillHeight {
	
	height: 100%;

}

.flexCenterCol {

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}

.gap {
	
	gap: 10px;

}

.clickable {}
.clickable:hover {
	
	cursor: pointer;

}

button, select, input, span {
	
	font-size: 1.5rem;
	font-family: globalFont;
	overflow-wrap: anywhere;

}

span {
	
	touch-action: manipulation; /* Prevent default touch behavior */
	user-select: none;

}

#mailList {

	flex: 1;
	outline: 1px solid black;
	height: 100%;

	box-sizing: border-box;
	padding: 10px;

	display: flex;
	flex-direction: column;

	overflow: auto;

}

#dialogBox {
	
	outline: 1px solid black;

}

@media (prefers-color-scheme: dark) {

	#dialogBox {

		outline: 1px solid white;

	}

}
